@model IEnumerable<mvcmysql.Models.product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>
    <br />
    <p>
        <a href="@Url.Action("Create", "Product")" class="btn btn-outline-secondary"><i class="fas fa-plus"></i>新增</a>
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>
        </thead>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Product",new { id = item.ProductID })" class="btn btn-outline-secondary"><i class="fas fa-edit"></i>修改</a>
                <a href="@Url.Action("Details", "Product",new { id = item.ProductID })" class="btn btn-outline-secondary"><i class="fas fa-info-circle"></i>明細</a>
                <a href="@Url.Action("Delete", "Product",new { id = item.ProductID })" class="btn btn-outline-secondary"><i class="fas fa-trash-alt"></i>刪除</a>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
